.ui-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    height: var(--height-main);
    outline: none;
    border: none;
    border-radius: var(--br-main);
    background: transparent;
    box-shadow: var(--bs-entry);
    font-weight: 600;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: var(--color-graylite);
    flex-grow: 1;
    transition: var(--transition);
}

.ui-button.inactive {
    border: 1px solid var(--color-graylite);
}

.ui-button.icon {
    width: var(--height-main);
}

.ui-button.inactive:not(.disabled):not(.clear):not([disabled]):hover {
    color: var(--color-graydark);
    border: 1px solid var(--color-graydark);
}

.ui-button.clear:hover {
    color: var(--color-graydark);
}

.ui-button.active,
.ui-button.active * {
    position: relative;
}

.ui-button.active * {
    z-index: var(--z-ten);
}

.ui-button.active:hover {
    color: var(--color-accent);
}

.ui-button:not(.icon).active,
.ui-button.flat {
    padding: 0 25px;
    font-weight: 600;
}

.ui-button.active::before {
    content: '';
    position: absolute;
    z-index: var(--z-primary);
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: var(--br-main);
    background: var(--color-entry);
}

.ui-button.active.red::before {
    background: #a93434;
}

.ui-button[disabled],
.ui-button.disabled {
    background: var(--color-button-background-disabled);
    border-color: var(--color-button-border-disabled);
    cursor: default;
}

.ui-button.icon.small {
    width: 24px;
    height: 24px;
    font-size: 10px;
}

.react-ripples {
    display: flex;
    border-radius: var(--br-main);
}

.react-ripples s {
    z-index: var(--z-nine);
}

.stretch {
    width: 100%;
}

.grow {
    flex-grow: 1;
}

.mbs15 {
    margin-block-start: 15px;
}

.clear {
    height: auto;
    border: none;
    background: none;
}