.ui-counter-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-weight: 600;
    color: var(--color-graylite);
    background: var(--color-statusbar-background);
}

.ui-counter-badge.circle {
    padding: 0 5px;
    height: 25px;
    border-radius: 25rem;
}