.ui-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: var(--z-twenty);
    border-radius: var(--br-main);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .095);
    background: white;
    width: max-content;
    min-width: 180px;
}

.ui-dropdown.zoomIn {
    animation: zoomIn 150ms;
}

.ui-dropdown.zoomOut {
    animation: zoomOut 150ms;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
        transition: transform 150ms ease-in, opacity 150ms ease-in;
    }
    to {
        transform: scale(1);
        opacity: 1;
        transition: transform 150ms ease-in, opacity 150ms ease-in;
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
        transition: transform 150ms ease-in, opacity 150ms ease-in;
    }
    to {
        transform: scale(0);
        opacity: 0;
        transition: transform 150ms ease-in, opacity 150ms ease-in;
    }
}