.ui-dropzone {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    width: 100%;
    height: 256px;
}

.ui-dropzone .dropzone-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: var(--z-eleven);

    font-weight: 600;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-graylite);

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--br-main);
    border: 2px dashed var(--color-graylite);
    outline: none;
    overflow: hidden;

    cursor: pointer;
    transition: var(--transition);
}

.ui-dropzone .dropzone-container:hover {
    color: var(--color-accent);
    border: 2px dashed var(--color-accent);
}

.ui-dropzone.with-preview .dzu-dropzone {
    border-color: transparent;
    background: white;
    border-radius: 0;
    color: white;
    opacity: 0;
}

.ui-dropzone.with-preview .dzu-dropzone:hover {
    opacity: .45;
}

.ui-dropzone .dzu-inputLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ui-dropzone .dzu-input {
    display: none;
}

.ui-dropzone .dzu-previewContainer,
.ui-dropzone .preview {
    display: flex;
    width: 100%;
    height: 256px;
    border-radius: 5px;
    overflow: hidden;
}

.ui-dropzone .dzu-previewContainer,
.ui-dropzone .preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-ten);
}

.ui-dropzone .dzu-previewContainer img,
.ui-dropzone .preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ui-dropzone.icon,
.ui-dropzone.icon .dzu-previewContainer,
.ui-dropzone.icon .preview {
    height: 128px;
}

.ui-dropzone.icon .dzu-previewContainer, .ui-dropzone.icon .preview {
    justify-content: center;
    align-items: center;
}

.ui-dropzone.icon .dzu-previewContainer img, .ui-dropzone.icon .preview img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: var(--br-main);
}