.ui-input {
    height: var(--height-main);
    outline: none;
    border: 1px solid var(--color-graylite);
    border-radius: var(--br-main);
    background: transparent;
    padding: 0 15px;

    font-weight: 600;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);

    cursor: text;
    transition: var(--transition);
}

.ui-input::placeholder {
    color: var(--color-graylite);
    transition: var(--transition);
}

.ui-input:focus, .ui-input:active {
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
}

.ui-input:focus::placeholder, .ui-input:active::placeholder {
    color: var(--color-accent);
}