.ui-input {
    height: var(--height-main);
    outline: none;
    color: var(--color-graylite);
    border: 1px solid var(--color-graylite);
    border-radius: var(--br-main);
    background: transparent;
    padding: 0 15px;
    font-weight: 600;
    cursor: text;
    transition: var(--transition);
}

.ui-input::placeholder {
    color: var(--color-graylite);
}