.ui-input {
    height: var(--height-main);
    outline: none;
    border: 1px solid var(--color-graylite);
    border-radius: var(--br-main);
    background: transparent;
    padding: 0 8px;
    width: auto;

    font-weight: 600;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-accent);

    cursor: text;
    transition: var(--transition);
}

.ui-input.hidden {
    display: none;
}

.ui-input.minimize {
    border: none;
    border-bottom: 1px solid var(--color-graylite);
    border-radius: 0;
    height: 35px;
    padding: 0;
}

.ui-input.active {
    border: none;
    background: var(--color-entry);
}

.ui-input::placeholder {
    color: var(--color-graylite);
    transition: var(--transition);
}

.ui-input:not(.active):not(.minimize):focus,
.ui-input:not(.active):not(.minimize):active {
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
}

.ui-input.minimize:focus,
.ui-input.minimize:active {
    border-bottom: 1px solid var(--color-accent);
}

.ui-input:focus::placeholder, .ui-input:active::placeholder {
    color: var(--color-accent);
}