.ui-list {
    display: flex;
    flex-direction: column;

    background: white;
    box-shadow: var(--bx-main);
    border-radius: var(--br-main);
    border: var(--border-main);
    width: 100%;
    transition: var(--transition);
}

.ui-list.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 64px));
}

.ui-list.grid.stretch {
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
}

.ui-list .ui-item {
    transition: var(--transition);
}

.ui-list.clickable:hover,
.ui-list:not(.clickable) .ui-item:hover {
    opacity: .75;
}

.ui-list .ui-item:not(:last-child) {
    border-bottom: var(--border-main);
}

.ui-list .ui-item.checked {
    color: var(--color-accent) !important;
}

.ui-list.grid .ui-item.checked {
    position: relative;
    border-radius: var(--br-main) !important;
}

.ui-list.grid .ui-item.checked::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;
    width: 100%;
    height: 5px;
    border-radius: 5px 5px 0 0;
    background: var(--color-accent);
}

.ui-list.grid .ui-item.checked img {
    transform: scale(1.25, 1.25);
}

.ui-item {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    color: var(--color-graydark);
    padding: 10px;
    font-weight: 600;

    cursor: pointer;
}

.ui-list.grid .ui-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.ui-list.grid.stretch .ui-item {
    width: auto;
    height: auto;
}

.ui-list.grid.center .ui-item > * {
    align-items: center;
    text-align: center;
}

.ui-list.grid.stretch .ui-item .icon.large {
    font-size: 3.75rem;
    padding: 1rem;
}

.ui-item .date {
    color: var(--color-section-subtitle);
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
}

.ui-item .ui-avatar img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    overflow: hidden;
    transition: var(--transition);
}

.ui-list.grid .ui-item .image {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.ui-item .name {
    display: flex;
    align-self: center;
    flex-grow: 10;
}

.ui-item .ui-avatar,
.ui-item .score {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}