.ui-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 25px;
    border-radius: var(--br-main);
    border: none;
    background: #f9f9f9;
    color: #cfd4d6;
    font-weight: 600;
}