.ui-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: var(--z-ninetynine);
}

.ui-modal .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-one-hundred);
    background: rgb(0 0 0 / 15%);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

.ui-modal .background.clear {
    cursor: default;
}

.ui-modal .wrapper {
    position: relative;
    left: 0;
    right: 0;
    background: white;
    border: var(--border-main);
    border-radius: var(--br-main);
    box-shadow: var(--bs-main);
    z-index: var(--z-one-hundred-one);
}

.ui-modal .wrapper.slideOutLeft {
    animation: slideOutLeft 150ms ease-in;
}

.ui-modal .wrapper.slideInLeft {
    animation: slideInLeft 150ms ease-in;
}

.ui-modal .wrapper.slideOutRight {
    animation: slideOutRight 150ms ease-in;
}

.ui-modal .wrapper.slideInRight {
    animation: slideInRight 150ms ease-in;
}

.ui-modal .wrapper .headline {
    position: relative;
    border-bottom: var(--border-main);
    line-height: 1;
}

.ui-modal .wrapper .headline button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
}

.ui-modal .wrapper .headline h1 {
    font-size: 18px;
    color: var(--color-text);
    text-align: center;
    margin: 0;
    padding: 15px 85px;
}

@keyframes slideOutLeft {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: -700px;
        opacity: 0;
    }
}

@keyframes slideInLeft {
    from {
        left: -700px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 700px;
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        left: 700px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}