.ui-navigation {
    display: flex;
    justify-content: space-between;
    grid-gap: 15px;
    padding: 25px 0;
}

.ui-navigation.dashboard {
    flex-direction: column;
    top: 0;
    left: 25px;
    width: 145px;
    padding: 0;
    background: transparent;
}

.ui-navigation {
    position: fixed;
    left: 0;
    bottom: 0;
}

.ui-navigation:not(.dashboard) {
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(94, 63, 161, 0.47) 100%);
    z-index: var(--z-ninetynine);
}

.ui-navigation a:hover .ui-row .icon,
.ui-navigation a:hover {
    color: var(--color-accent) !important;
}

.ui-navigation:not(.dashboard) .block .links {
    display: flex;
    grid-gap: 15px;
    width: max-content;
}

.ui-navigation.dashboard .block {
    flex-direction: column;
    grid-gap: 0;
}

.ui-navigation .block:last-child {
    display: flex;
    grid-gap: 10px;
}

.ui-navigation.dashboard .block:last-child {
    display: flex;
    grid-gap: 10px;
    width: auto;
    margin-bottom: 25px;
}

.ui-navigation.dashboard .block:last-child .react-ripples {
    flex-grow: 1;
}

.ui-navigation.dashboard .block:last-child .react-ripples .ui-button {
    padding: 0;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-graylite);
}

.ui-navigation.dashboard .block:last-child .react-ripples .ui-button:hover {
    opacity: .75;
}

.ui-navigation.dashboard .block:last-child .ui-divider {
    display: none;
}

.ui-navigation:not(.dashboard) .block:first-child,
.ui-navigation:not(.dashboard) .block:last-child button {
    background: white;
    border-radius: 25rem;
}

.ui-navigation:not(.dashboard) .block:first-child {
    padding-right: 10px;
}

.ui-navigation.dashboard .block a .ui-row svg {
    height: 100%;
    width: 100%;
}

.ui-navigation:not(.dashboard) .block a,
.ui-navigation:not(.dashboard) .block button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    outline: none;
    font-size: 1.25rem;
    color: var(--color-graylite);
}

.ui-navigation .block a svg path,
.ui-navigation .block button svg path {
    fill: var(--color-graylite) !important;
    transition: var(--transition);
}

.ui-navigation .block a.active,
.ui-navigation.dashboard .block a:hover,
.ui-navigation.dashboard .block a.active {
    color: var(--color-accent) !important;
}

.ui-navigation .block a:hover svg path,
.ui-navigation .block .ui-button:hover svg path,
.ui-navigation.dashboard .block a.active svg path,
.ui-navigation .block a.active svg path {
    fill: var(--color-accent) !important;
}

.ui-navigation.dashboard .block a:first-child img {
    height: 45px;
    width: 100%;
}

.ui-navigation.dashboard .block a:first-child svg {
    height: 30px;
}

.ui-navigation.dashboard .block a svg {
    height: 15px !important;
}

.ui-navigation.dashboard .block {
    width: 100%;
}

.ui-navigation.dashboard .block .links {
    background: var(--color-entry);
    box-shadow: var(--bs-entry);
    border-radius: var(--br-main);
    overflow: hidden;
}

.ui-navigation.dashboard .block a {
    position: relative;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-graylite);
    padding: 10px 0;
    overflow: hidden;
    transition: var(--transition);
}

.ui-navigation.dashboard .block > .title {
    padding: 25px 0 10px 0;

    font-weight: 700;
    font-size: 16px;
    color: var(--color-graylite);
    text-transform: uppercase;
}

.ui-navigation .block a.wide {
    padding: 15px 5px;
}

.ui-navigation .block a.wide svg {
    height: 20px !important;
}

.ui-navigation.dashboard .block a::before,
.ui-navigation.dashboard .block a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 0;
    background: var(--color-accent);
    transition: var(--transition);
}

.ui-navigation.dashboard .block a::before {
    top: 50%;
    border-radius: 0 0 10px 0;
}

.ui-navigation.dashboard .block a::after {
    bottom: 50%;
    border-radius: 0 10px 0 0;
}

.ui-navigation.dashboard .block a.active::before,
.ui-navigation.dashboard .block a.active::after {
    height: 50%;
}

.ui-navigation .block a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ui-navigation:not(.dashboard) .block a:nth-child(2) {
    font-size: 2rem;
}

.ui-navigation:not(.dashboard) .block a:first-child {
    padding-right: 20px;
}

.ui-navigation:not(.dashboard) .block a:first-child img {
    border-radius: 50%;
    transform: scale(1.45) translateX(10px);
}

.ui-navigation.dashboard .block .ui-row {
    display: grid;
    grid-template-columns: 25px 1fr;
    padding: 0 10px;
}

.ui-navigation.dashboard .block .ui-row svg {
    justify-self: center;
    align-self: center;
}

.ui-navigation .block a .undefined {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    transform: scale(1.45) translateX(10px);
}

@media only screen and (max-width: 545px) {
    .ui-navigation .block {
        grid-gap: 10px;
    }
    
    .ui-navigation:not(.dashboard) .block a:first-child {
        padding-right: 15px;
    }
    
    .ui-navigation:not(.dashboard) .block a:first-child img {
        transform: scale(1.45) translateX(5px);
    }
    
    .ui-navigation:not(.dashboard) .block a:nth-child(2) {
        font-size: 1.25rem;
    }
    
    .ui-navigation:not(.dashboard) .block a, .ui-navigation:not(.dashboard) .block button {
        font-size: 1rem;
        height: 36px;
        width: 36px;
    }
}