.ui-notify {
	display: grid;
	grid-template-columns: 48px 1fr;
	grid-template-rows: 48px;
	grid-gap: 10px;
	align-content: center;
	width: 320px;
}

.ui-notify .icon,
.ui-notify .icon img {
	width: 100%;
	height: 100%;
}

.ui-notify .icon {
	display: flex;
	justify-content: center;
	align-items: center;

    background: white;
    box-shadow: var(--bx-main);
    border-radius: var(--br-main);
	border: var(--border-main);
	
	overflow: hidden;
}

.ui-notify .icon img {
	object-fit: cover;
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

.ui-notify .message {
	padding-top: 10px;
	font-weight: 600;
	color: var(--color-text);
}

.ui-notify.admin {
	background: white;
	border-radius: var(--br-main);
	overflow: hidden;
}

.ui-notify.admin .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: center;
	align-self: center;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 1rem;
	border-inline-end: 1px solid var(--color-graylite);
}

.ui-notify.admin .message {
	padding: var(--padding-content);
}

.ui-notify.admin.success .icon {
	background: var(--color-background-blue);
}
.ui-notify.admin.success .message {
	background: var(--color-background-blue-lite);
	color: var(--color-background-blue-dark);
}

.ui-notify.admin.warning .icon {
	background: var(--color-background-orange);
}
.ui-notify.admin.warning .message {
	background: var(--color-background-orange-lite);
	color: var(--color-background-orange-dark);
}

.ui-notify.admin.error .icon {
	background: var(--color-background-red);
}
.ui-notify.admin.error .message {
	background: var(--color-background-red-lite);
	color: var(--color-background-red-dark);
}