.ui-radiobox li {
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 0;
    color: var(--color-graylite);
    cursor: pointer;
    transition: var(--transition);
}

.ui-radiobox li .checkmark {
    display: flex;
    width: 18px;
    height: 18px;
    background: transparent;
    border: 1px solid var(--color-graylite);
    border-radius: 50%;
    margin-right: 10px;
    color: var(--color-graylite);
    transition: var(--transition);
}

.ui-radiobox li:hover {
    color: var(--color-accent);
}

.ui-radiobox li .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .675rem;
    color: transparent;
    transition: var(--transition);
}

.ui-radiobox li:hover .checkmark {
    border: 1px solid var(--color-accent);
}

.ui-radiobox li.checked .checkmark {
    background: var(--color-accent);
    border: 1px solid var(--color-accent);
}

.ui-radiobox li.checked .checkmark span {
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.ui-radiobox li.checked {
    color: var(--color-text);
}

.ui-radiobox li.sortable {
    right: 40px;
}