.ui-row {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 10px;
}

.ui-row.small {
    grid-gap: 5px;
}

.ui-row.flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ui-row.col2 {
    grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
    grid-auto-flow: initial;
}

.ui-row.flex .ui-section {
    flex-grow: 1;
    flex-basis: 512px;
}

.ui-row.sb {
    justify-content: space-between;
}

.ui-row.center {
    justify-content: center;
}

.ui-row.nowrap {
    flex-wrap: nowrap
}

.ui-row.search .ui-search {
    flex-grow: 100;
}

.ui-row.auto {
    width: auto;
}