.ui-search {
    height: var(--height-main);
    outline: none;
    color: var(--color-graylite);
    border: 1px solid var(--color-graylite);
    border-radius: var(--br-main);
    background: transparent;
    padding: 0 15px;
    font-weight: 600;
    cursor: text;
    transition: all .15s ease;
}

.ui-search.clear {
    height: auto !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
}

.ui-search::placeholder {
    color: var(--color-graylite);
}