.ui-slider {
    position: relative;
    left: 8px;
    width: calc(320px - 16px);
    margin: 20px 0;
}

.ui-slider .rc-slider-rail {
    width: 100%;
    height: 2px;
    border-radius: var(--br-main);
    background: var(--color-graylite);
}

.ui-slider .rc-slider-handle {
    margin-top: -6px;
}

.ui-slider .rc-slider-track,
.ui-slider .rc-slider-handle {
    background: var(--color-accent);
}

.ui-slider .rc-slider-disabled {
    background: none;
}

.ui-slider .rc-slider-disabled .rc-slider-handle {
    background: var(--color-graylite);
    border: 3px solid var(--color-body-background);
}

.ui-slider .rc-slider-disabled .rc-slider-track {
    background: var(--color-graydark);
    margin-top: -1px;
}

.ui-slider .rc-slider-disabled,
.ui-slider .rc-slider-disabled .rc-slider-dot,
.ui-slider .rc-slider-disabled .rc-slider-handle-dragging,
.ui-slider .rc-slider-disabled .rc-slider-handle:hover {
    cursor: default;
}

.ui-slider .rc-slider-handle {
    box-shadow: none;
    border: none;
}

.ui-slider .rc-slider-handle::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    background: #5e3fa161;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: opacity 150ms ease, transform 150ms ease;
}

.ui-slider .rc-slider-handle:hover::before {
    opacity: 1;
    transform: scale(1);
}

.ui-slider.scalable .rc-slider-handle-dragging {
    box-shadow: none;
    border-color: none;
}

.ui-slider.scalable .rc-slider-handle-dragging::before,
.ui-slider.scalable .rc-slider-handle:active::before {
    opacity: 1;
    transform: scale(1.25);
}

.ui-slider .rc-slider-disabled .rc-slider-handle:hover::before {
    opacity: 0;
    transform: scale(0);
}

.ui-slider .rc-slider-dot {
    background: var(--color-graylite);
    border-color: var(--color-body-background);
    box-shadow: none;
    bottom: -1px;
}


.ui-slider .rc-slider-dot.rc-slider-dot-active {
    background: var(--color-accent);
    border-color: var(--color-accent);
    bottom: -2px;
}