.ui-textarea {
    height: 128px;
    outline: none;
    border: 1px solid var(--color-graylite);
    border-radius: var(--br-main);
    background: transparent;
    padding: 15px;

    font-weight: 600;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);

    cursor: text;
    transition: all .15s ease;
}

.ui-textarea.short {
    height: 64px;
}

.ui-textarea::placeholder {
    color: var(--color-graylite);
    font-weight: 600;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.ui-textarea:focus, .ui-textarea:active {
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
}

.ui-textarea:focus::placeholder, .ui-textarea:active::placeholder {
    color: var(--color-accent);
}