.ui-toggler {
    display: flex;
    width: max-content;
    height: var(--height-main);
    color: var(--color-graylite);
    border: 1px solid var(--color-graylite);
    border-radius: var(--br-main);
    transition: all .15s ease;
}

.ui-toggler.auto {
    height: auto;
}

.ui-toggler .toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--height-main);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: all .15s ease;
}

.ui-toggler .toggle:hover {
    color: var(--color-accent);
}

.ui-toggler .toggle.active::before {
    content: '';
    position: absolute;
    z-index: var(--z-primary);
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: var(--br-main);
    background: var(--color-entry);
}

.ui-toggler .toggle {
    flex-grow: 100;
}

.ui-toggler .toggle.dropdown {
    position: relative;
    z-index: var(--z-one-hundred);
    flex-grow: 1;
    padding: 0;
}

.wrapper .ui-toggler {
    width: 100%;
}

.wrapper .ui-toggler .toggle.active::before {
    background: var(--color-accent);
}

.ui-toggler .toggle.active {
    background: var(--color-entry);
    box-shadow: var(--bs-entry);
    border-radius: var(--br-main);
    color: var(--color-accent);
}

.wrapper .ui-toggler .toggle.active {
    background: var(--color-accent);
    color: white;
}

.ui-toggler .toggle .ui-row,
.ui-toggler .toggle .ui-container {
    position: relative;
    z-index: var(--z-ninetynine);
}

.ui-toggler .toggle > svg {
    position: relative;
    z-index: var(--z-ten);
}

.ui-toggler .toggle p {
    padding: 0 5px;
}

.ui-toggler .toggle .icon {
    height: 48px;
    font-size: 2rem;
    margin-bottom: 5px;
}

.ui-toggler .toggle .ui-row {
    grid-gap: 5px;
}

.ui-toggler .toggle .ui-row .icon {
    height: auto;
    font-size: initial;
}

.ui-toggler .toggle .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ui-toggler .toggle {
    padding: 10px;
}

.ui-toggler .toggle .ui-button {
    padding: 0;
    border: none;
    width: 40px;
}

.ui-toggler .toggle .ui-button:hover {
    border: none !important;
}

.ui-toggler .toggle .ui-dropdown {
    z-index: var(--z-twenty);
}

@media only screen and (max-width: 480px) {
    .ui-toggler {
        height: auto;
        flex-wrap: wrap;
        flex-grow: 1;
    }
}