.ui-toggler {
    display: flex;
    width: max-content;
    height: var(--height-main);
    color: var(--color-graylite);
    border: 1px solid var(--color-graylite);
    border-radius: var(--br-main);
    transition: all .15s ease;
}

.ui-toggler.auto {
    height: auto;
}

.ui-toggler .toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--height-main);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: all .15s ease;
}

.ui-toggler .toggle.active::before {
    content: '';
    position: absolute;
    z-index: var(--z-primary);
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: var(--br-main);
    background: var(--color-entry);
}

.ui-toggler .toggle.active {
    background: var(--color-entry);
    box-shadow: var(--bs-entry);
    border-radius: var(--br-main);
    color: var(--color-accent);
}

.ui-toggler .toggle * {
    position: relative;
    z-index: var(--z-ten);
}

.ui-toggler .toggle p {
    padding: 0 15px;
}

.ui-toggler .toggle .icon {
    height: 48px;
    font-size: 2rem;
    margin-bottom: 5px;
}

.ui-toggler .toggle .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ui-toggler .toggle {
    padding: 10px 0;
}