/* Fade */
.fade-enter {
    opacity: 0;
    backdrop-filter: blur(0px);
}
.fade-enter-active {
    opacity: 1;
    backdrop-filter: blur(5px);
    transition: opacity 100ms, blur 100ms;
}
.fade-exit {
    opacity: 1;
    backdrop-filter: blur(0px);
}
.fade-exit-active {
    opacity: 0;
    backdrop-filter: blur(0px);
    transition: opacity 100ms, blur 100ms;
}

/* Swing */
.swing-enter {
    opacity: 0;
    transform: scale(0.9);
}
.swing-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 100ms, transform 100ms;
}
.swing-exit {
    opacity: 1;
}
.swing-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 100ms, transform 100ms;
}

/* Slide Left */
.slide-left-enter {
    left: -9999px;
}
.slide-left-enter-active {
    left: 0;
    transition: left 100ms;
}
.slide-left-exit {
    left: 0;
}
.slide-left-exit-active {
    left: -9999px;
    transition: left 100ms;
}