.ui-unit {
    display: grid;
    grid-template-columns: 64px 1fr 64px;
    grid-template-rows: 64px;
    grid-gap: 15px;

    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    transition: var(--transition);
}

.ui-unit.active {
    background: var(--color-text);
}

.ui-unit:hover {
    opacity: .75;
}

.ui-unit .ui-avatar,
.ui-unit .content,
.ui-unit .ui-counter-badge {
    align-self: center;
    line-height: 1.25;
}


.ui-unit .ui-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: var(--bx-main);
    border-radius: var(--br-main);
    border: var(--border-main);
    width: 100%;
    height: 100%;
}

.ui-unit .content {
    position: relative;
    top: -3px;
}

.ui-unit .content .name {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-text);
}

.ui-unit .content .legend {
    font-size: 14px;
    color: var(--color-graylite);
}

.ui-unit.active .content .name ,
.ui-unit.active .content .legend {
    color: white;
}

.ui-unit .ui-counter-badge {
    display: flex;
    justify-content: center;
    justify-self: end;
    margin-inline-end: 10px;
}

.ui-unit.active .ui-counter-badge {
    background: white !important;
    color: var(--color-accent) !important;
}