:root {
    /* Main */
    --br-main: 8px;
    --bs-main: 0px 0px 2px rgba(97, 63, 161, 0.06);
    --border-main: 1px solid #EDEFF4;
    --line-height: 1.25;
    --height-main: 40px;
    --w-aside: 340px;
    --grid-gap: 20px;

    --font-weight-section-title: bold;
    --padding-content: 15px;

    /* Entry */
    --bs-entry: 0px 0px 2px rgba(97, 63, 161, 0.06);
    --color-entry: #FFFFFF;

    /* Statusbar */
    --color-statusbar-background: #F8F9FB;

    /* Colors */
    --color-accent: #5E3FA1;
    --color-text: #494E63;
    --color-graylite: #AFBDC4;
    --color-graydark: #6D8693;
    --color-body-background: #EBEEF1;
    --color-section-title: #494E63;
    --color-section-subtitle: #CACACB;
    --color-button-background-ripple: #efedf5;
    --color-button-background-disabled: #e4e8ec;
    --color-button-border-disabled: #c9d2d6;
    --color-background-red: #e46c6c;
    --color-background-red-lite: #e3b2b2;
    --color-background-red-dark: #b03434;
    --color-background-orange: #e4ae6c;
    --color-background-orange-lite: #e3d4b2;
    --color-background-orange-dark: #b07e34;
    --color-background-blue: #6ca7e4;
    --color-background-blue-lite: #b2cbe3;
    --color-background-blue-dark: #3471b0;

    /* Font Size */
    --fz-headline: 22px;

    /* Z Index */
    --z-one-hundred-one: 101;
    --z-one-hundred: 100;
    --z-ninetynine: 99;
    --z-twenty: 20;
    --z-eleven: 11;
    --z-ten: 10;
    --z-nine: 9;
    --z-primary: 1;

    --transition: all .15s ease;
}

html, body {
    scrollbar-color: transparent;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
html::-webkit-scrollbar-track,
body::-webkit-scrollbar,
body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar,
textarea::-webkit-scrollbar-track,
.ui-modal::-webkit-scrollbar,
.ui-modal::-webkit-scrollbar-track,
.ui-chat .messages::-webkit-scrollbar,
.ui-chat .messages::-webkit-scrollbar-track {
    width: 0;
}

html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button,
textarea::-webkit-scrollbar-button,
.ui-modal::-webkit-scrollbar-button,
.ui-chat .messages::-webkit-scrollbar-button {
    display: none;
}

body {
    background: var(--color-body-background);
    white-space: normal;
    overflow-wrap: anywhere;
}

p, ul {
    margin: 0;
    padding: 0;
    white-space: normal;
}

ul li {
    list-style: none;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}

.ui-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-graylite);
}

main,
.ui-navigation {
    width: 90%;
    padding: 35px 5%;
}

main {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: 1fr;
    padding-bottom: 180px;
}

main.home {
    grid-template-columns: var(--w-aside) 1fr;
}

main.skeleton,
main.profile,
main.navigator,
main.tours,
main.chats {
    grid-template-columns: var(--w-aside) 1fr var(--w-aside);
}

main.skeleton {
    height: calc(100vh - 90px);
    margin-bottom: 90px;
}

main aside {
    display: flex;
    flex-direction: column;
    grid-gap: var(--grid-gap);
}

main aside > .ui-toggler {
    width: 100%;
    max-width: 100%;
}

main.skeleton aside .ui-container:last-child,
main.skeleton aside .ui-row:last-child {
    flex-grow: 1;
}

main.skeleton aside .ui-row:last-child .ui-skeleton {
    flex-basis: 25%;
}

main.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

main.auth form {
    position: relative;
    z-index: var(--z-ninetynine);

    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: 15px;
    width: 280px;

    background: var(--color-entry);
    box-shadow: var(--bs-entry);
    border-radius: var(--br-main);
    padding: var(--padding-content);
}


main.auth form::before {
    content: '';
    display: none;
    position: absolute;
    z-index: var(--z-ninetynine);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: var(--br-main);
    backdrop-filter: blur(0);
    opacity: 0;

    transition: var(--transition);
}

main.auth form.loading::before {
    display: flex;
    opacity: 1;

    backdrop-filter: blur(5px);
}

main.auth form > .ui-input,
main.auth form > .react-ripples .ui-button {
    flex-grow: 1;
}

main.auth form .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.auth form .logo svg {
    width: 128px;
    height: 128px;
    margin: 25px 25%;
}

main.auth form .logo svg path {
    fill: var(--color-accent);
}

main.auth .ui-alert {
    width: 280px;
}

main.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 280px);
}

main.dashboard {
    width: calc(100% - 230px);
    padding: 25px 0 25px calc(200px);
}

main.dashboard .statblocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    grid-gap: 15px;
}

main.dashboard .statblocks .statblock {
    background: var(--color-entry);
    box-shadow: var(--bs-entry);
    border-radius: var(--br-main);
    overflow: hidden;

    width: auto;
    cursor: pointer;
    transition: var(--transition);
}

main.dashboard .statblocks .statblock:hover {
    opacity: .75;
}

main.dashboard .statblocks .statblock .ui-column {
    width: 100%;
}

main.dashboard .statblocks .statblock .value {
    font-size: 38px;
    font-weight: 500;
    color: var(--color-text);
    padding: var(--padding-content);
}

main.dashboard .statblocks .statblock .legend {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    padding: 5px 10px;
    width: 100%;
}

main.dashboard .statblocks .statblock.blue .legend {
    background: var(--color-background-blue)
}

main.dashboard .statblocks .statblock.red .legend {
    background: var(--color-background-red)
}

main.dashboard .statblocks .statblock.orange .legend {
    background: var(--color-background-orange)
}

main.dashboard .graphic-line {
    height: 325px;
    
    background: var(--color-entry);
    box-shadow: var(--bs-entry);
    border-radius: var(--br-main);
    overflow: hidden;
}

.ui-section.my-tours > .content > .ui-entry,
main.tours .ui-section > .content > .ui-entry {
    flex-basis: auto;
}

main.chats .ui-section > .content > .ui-message {
    flex-grow: 1;
}

main.chats aside:first-child .loader {
    flex-direction: column;
}

.ui-chat {
    display: flex;
    flex-direction: column;

    background: white;
    box-shadow: var(--bx-main);
    border-radius: var(--br-main);
    border: var(--border-main);

    width: 100%;
    height: calc(100vh - 280px);

    overflow: hidden;
}

.ui-chat .messages {
    flex-grow: 100;
    padding: var(--padding-content);
}

.ui-chat .messages .ui-message {
    height: 100%;
}

.ui-chat > .ui-row {
    padding: var(--padding-content);
    background: var(--color-statusbar-background);
    border-block-start: var(--border-main);
    width: calc(100% - 30px);
}

.ui-chat > .ui-row  .ui-input {
    flex-grow: 100;
}

.ui-chat .messages {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    height: 425px;
    overflow-y: scroll;
}

.ui-chat .messages .message {
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-gap: 10px;
}


.ui-chat .messages .message .avatar {
    align-self: end;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: var(--bs-entry);
    background-color: var(--color-statusbar-background);
    overflow: hidden;
}

.ui-chat .messages .message .content {
    box-shadow: var(--bs-entry);
    border-radius: var(--br-main);
    padding: 10px 15px;
    width: max-content;
    max-width: 65%;
    min-width: 64px;
}

.ui-chat .messages .message .content.dark {
    background: var(--color-text);
    color: white;
}

.ui-chat .messages .message .content.lite {
    background: var(--color-statusbar-background);
    color: var(--color-text);
}

.ui-chat .messages .message .content .date {
    text-align: right;
    font-size: 12px;
    width: 100%;
    margin-block-start: 5px;
}

.ui-chat .messages .message .content.lite .date {
    color: #8f99a7;
}

.ui-chat .messages .message .content.dark .date {
    color: #8388a0;
}

.ui-section .content .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: var(--padding-content);
}

.ui-section.my-articles .content .grid,
.ui-section.articles .content .grid {
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
}

.tsparticles-canvas-el {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.fadeIn {
    animation: fadeIn 100ms ease-in;
}

.fadeOut {
    animation: fadeIn 100ms ease-out;
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fadeOut {
    from { opacity: 1 }
    to { opacity: 0 }
}

@media only screen and (max-width: 1299px) {
    main,
    .ui-navigation {
        width: calc(100% - 30px);
        padding: 25px 15px;
    }

    main {
        grid-template-columns: 1fr !important;
        padding-bottom: 180px;
    }
}

@media only screen and (max-width: 480px) {
    main {
        display: flex;
        flex-direction: column;
        padding-bottom: 75px;
    }

    .ui-chat .messages .message .content {
        max-width: 85%;
    }
}